@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.toolbarr{
  background-color: whitesmoke;
  box-shadow: #14131B;

}
.contenedor-principal{
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: url("https://i.postimg.cc/ZYsjSv1b/pexels-maria-orlova-4969878.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;

}
.mat-spacer{
  flex: 1.1 auto;

  box-shadow: #14131B;
}
.buttonnav{
  color: #14131B;
  margin: 10px;
  list-style-type: none;
}
.buttonnav:focus{
  color: #2F9568;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.Profile-tenant{
  width: 40%;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 100%;

}
.letter1{
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-flow: column;
  color: #2F9568;
  margin-top: 20%;
  margin-bottom: 40px;
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  margin-left: 50px;
}

.letter2{
  font-size: 20px;
  flex-flow: column;
  display: flex;
  color: #14131B;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-left: 30px;
  line-height: 1.5;
  margin-left: 50px;
}

.letter3{
    font-size: 25px;
    flex-flow: column;
    display: flex;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 50px;
    justify-content: space-evenly;
    padding: 1px 8px;
    margin-left: 80px;
}


.photo_perfil{
  width: 50%;
  height: 60vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color:whitesmoke ;
  opacity: 100%;
  text-align: center;
  align-items: center;
  font-size: 55px;
  padding: 0 100px;
  justify-content: space-evenly;
}

.boton_Profile{
  width: 50%;
  margin-left: 150px;
  margin-top: 100px;
  display: flex;

}

.button_Image{
  background-color: black;
  width: 300px;
  padding: 20px;
  flex: 1.1 auto;
}
.photo_perfil .img{
  width:300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1094px){
  .Profile-tenant .photo_perfil{
    width: 100%;
  }
}

@media (max-width: 1094px) {
  .letter1, .letter2, .letter3 {
    font-size: 16px;
  }
}

@media (max-width: 1094px) {
  .button_Image, .boton_Profile {
    width: 70%;
    margin-left: 25%;
  }
}
