<div  style="height: 100vh; background-color: white; ">
    <mat-sidenav-container fxFlexFill class="profile-container">
  
      <mat-toolbar class="toolbarr">
        <img src="https://i.postimg.cc/vmZh3LGv/logotransparent-26-06.png" width="100px">
        <div class="mat-spacer"></div>
  
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
          <a  class="buttonnav" mat-button [routerLink]="['/main-page-tenant']">INICIO</a>
          <a  class="buttonnav" mat-button [routerLink]="['/share-auto-tenant']">BUSCAR AUTOS</a>
          <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']">MANTENIMIENTO</a>
          <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']">ALQUILER</a>
          <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']">SOLICITUDES</a>
          <a mat-button  [routerLink]="['/perfil-tenant']"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
        </div>
  
        <div fxShow="true" fxHide.gt-sm="true">
          <a  (click)="sidenav.toggle()"><mat-icon>home</mat-icon></a>
        </div>
  
      </mat-toolbar>
  
    <div style="display: flex; height: 100vh; background-color: white;">
      <mat-card class="Profile-tenant" style="width: 1000px">
          <mat-card-header>
            <mat-card-title class="letter1">PERFIL DE USUARIO</mat-card-title>
            <mat-card-subtitle class="letter2">Arrendatario</mat-card-subtitle>
          </mat-card-header>
  
        <mat-card-content class="letter3" >
          <mat-list role="list">
            <mat-list role="list"><p> Nombre: Piero Salvador</p></mat-list>
            <mat-list role="list">Apellido: Torres Arias</mat-list>
            <mat-list role="list">celular: 99839322</mat-list>
            <mat-list role="list">Correo: pi23@gmail.com</mat-list>
            <mat-list role="list">Can. de veh. alquilado: 1</mat-list>
          </mat-list>
        </mat-card-content>
      <div class="boton_Profile" fxLayout="column" fxShow="true" fxHide.lt-md="true">
        <button mat-button  style="background-color: #14131B; color: white;">Actualizar Datos</button>
        <br>
        <button mat-button  style="background-color: #14131B; color: white;">Subir Documentos de antecedentes Penales</button><br>
        <button mat-button  [routerLink]="['/login-tenant']" style="background-color: #14131B; color: white;">Cerrar Sesión</button>
      </div>
      </mat-card>
  
      <mat-card class="photo_perfil" >
        <img class="img" mat-card-image src="https://imgur.com/YP2XnZT.png" alt="Photo del usuario" width="500px" >
        <mat-card-actions>
          <button class="button_Image" mat-button style="background-color: #14131B; color: white;">Cambiar foto perfil</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
          <a (click)="sidenav.toggle()" mat-button > <b style="color: #FF7A00;font-size: 20px">Close</b></a>
          <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']">INICIO</a>
          <a  class="buttonnav" mat-button [routerLink]="['/share-tenant']">BUSCAR AUTOS</a>
          <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']">MANTENIMIENTO</a>
          <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']">ALQUILER</a>
          <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']">SOLICITUDES</a>
          <a class="buttonnav" mat-button [routerLink]="['/perfil-tenant']">PERFIL</a>
        </div>
      </mat-sidenav>
      </div>
    </mat-sidenav-container>
  
  </div>
  
  
