@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.content-primary{
  height: 110%;
  background-image: url("https://i.postimg.cc/pT00DXrT/courtney-cook-CGMBFj-Oi50-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  /*background-color: #302F35;*/
}
.contenedor{
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.content-2{
  display: flex;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-content: center;
  max-width: 700px;
}
.section-button{

  place-items: center;
  display: flex;
  margin: auto;

  justify-content: center;



}

#btnn{

  background-color: transparent;
  border: none;

  padding: 0;
  flex-direction: column;
  font-weight: bold;
  color: black;
  font-family: 'Poppins',sans-serif;
  box-shadow: none;
}
#btnn:hover{
  background-color: transparent;
}
#btnn:focus{
  color:#2F9568;
}
.input{
  display: flex;
  min-width: 300px;
  max-width: 100%;
  border: none;
  text-align: start;
  justify-content: center;
}
.form-field{
  width: 100%;
}
