<!--color:-->
<!--#2F9568 -naranaja-->
<!--#14131B -negro-->
<!--<a mat-button-->
<!--   [routerLink]="['/about']">chancar</a>  Para las rutas-->


<div class="content-primary" >
  <mat-toolbar style="color: #2F9568;background-color: #14131B ">
    <img src="https://i.postimg.cc/BZHpSgcb/logo-1-removebg-preview.png" width="200px">
    <div class="mat-spacer"></div>
  </mat-toolbar>


  <br><br>
  <mat-card class="contenedor">
    <mat-card-content >
      <div class="content-2">

        <br>
        <mat-label style="text-align: center;font-size: 30px;color: #14131B"><b>Recuperar contraseña</b></mat-label>
        <br>
        <mat-label style="text-align: center">Arrendatario</mat-label>
        <br>
        <mat-label style="text-align: center;font-size: 15px;color: #14131B"> <br> Si se te olvidó la contraseña, puedes restablecerla
          con el correo que creaste tú cuenta</mat-label>
        <br>
        <mat-label style="text-align: left">Correo Electrónico</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="email" type="text" placeholder="Ingresa tu correo electrónico" class="input" >
        </mat-form-field>
        <button mat-button style="color: #2F9568;background-color: #14131B;font-family: 'Poppins', sans-serif" (click)="clickAddTodo()">Enviar código</button>
        <br>
        <mat-label style="text-align: left">Ingresa el código</mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="code" type="number" placeholder="Código" class="input" >
        </mat-form-field>
        <br>
        <button mat-button style="color: white;background-color: #2F9568;font-family: 'Poppins', sans-serif" [routerLink]="['/restore-tenant']">Reestablecer Contraseña</button>

      </div>

    </mat-card-content>
  </mat-card>
</div>

