<!--color:-->
<!--#2F9568 -naranaja-->
<!--#14131B -negro-->
<!--<a mat-button-->
<!--   [routerLink]="['/about']">chancar</a>  Para las rutas-->


<div class="content-primary" >
  <mat-toolbar style="color: #2F9568;background-color: #14131B ">
    <img src="https://i.postimg.cc/BZHpSgcb/logo-1-removebg-preview.png" width="200px">
    <div class="mat-spacer"></div>
  </mat-toolbar>


  <br><br>
  <mat-card class="contenedor">
    <mat-card-content >
      <div class="content-2">

        <section >
          <div class="example-button-row section-button">

            <button mat-button id="btnn" [routerLink]="['/login-tenant']">Arrendatario</button>
            <button mat-button id="btn" [routerLink]="['/login-owner']" style="margin-left: 1em">Propietario</button>
          </div>
        </section>
        <br><br>
        <mat-label style="text-align: center;font-size: 30px;color: #14131B"><b>Ingrese a su cuenta</b></mat-label>
        <br>
        <mat-label style="text-align: center;font-size: 15px;color: #14131B">¿Todavia no estas registrado? <a [routerLink]="['/register-owner']" style="color: #14131B;text-decoration: none"> <b>CREAR CUENTA</b></a> </mat-label>
        <br>

        <form [formGroup]="formLog_Owner" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field">
          <input matInput formControlName="email" placeholder="Correo Electronico" class="input">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput formControlName="password" type="password" placeholder="Contraseña" class="input">
        </mat-form-field>
        <mat-label style="color: #14131B;justify-content: right;text-align: right;"> <a mat-button [routerLink]="['/recover-password-owner']"> <b style="font-family: 'Poppins', sans-serif"> ¿Has olvidado tu contraseña?</b></a></mat-label> <br>

        <button class="form-field" mat-button style="color: white;background-color: #2F9568" type="submit">Iniciar Sesión como Propietario</button>
        </form>





      </div>

    </mat-card-content>
  </mat-card>
</div>

