<div style="height: 100vh; background-color: white">
  <mat-sidenav-container fxFlexFill class="request_principal">
    <mat-toolbar class="toolbarr">
      <img src="https://i.postimg.cc/ryZ4LR7s/logo-removebg-preview.png" width="200px">
      <div class="mat-spacer"></div>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']"
          >INICIO</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/share-auto-tenant']"
          >BUSCAR AUTOS</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']"
          >MANTENIMIENTO</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']"
          >ALQUILER</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']"
          >SOLICITUDES</a
        >
        <a mat-button [routerLink]="['/perfil-tenant']"
          ><img
            src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png"
            style="width: 3em"
        /></a>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a (click)="sidenav.toggle()"><mat-icon>home</mat-icon></a>
      </div>
    </mat-toolbar>

    <div>
      <div class="titulo">
        <h1 class="txt-1">SOLICITUDES</h1>
      </div>

      <div class="car">
        <div class="title_derecha">
          <h3>Solicitud de alquiler del alquiler del vehiculo Toyota Prius</h3>
        </div>
        <div class="izquierda">
          <img
            class="img"
            mat-card-image
            src="https://imgur.com/xWEj5ZJ.png"
            alt="photo-car"
            width="200px"
          />
          <h5>ESTATUS: EN ESPERA</h5>
        </div>
      </div>

      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
          <a (click)="sidenav.toggle()" mat-button>
            <b style="color: #2F9568; font-size: 20px">Close</b></a
          >
          <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']"
            >INICIO</a
          >
          <a class="buttonnav" mat-button [routerLink]="['/share-tenant']"
            >BUSCAR AUTOS</a
          >
          <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']"
            >MANTENIMIENTO</a
          >
          <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']"
            >ALQUILER</a
          >
          <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']"
            >SOLICITUDES</a
          >
          <a class="buttonnav" mat-button [routerLink]="['/perfil-tenant']"
            >PERFIL</a
          >
        </div>
      </mat-sidenav>
    </div>
  </mat-sidenav-container>
</div>
