<div style="height: 100vh;">

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-toolbar class="toolbarr">
      <img src="https://i.postimg.cc/ryZ4LR7s/logo-removebg-preview.png" width="200px">
      <div class="mat-spacer"></div>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a  class="buttonnav" mat-button [routerLink]="['/main-page-tenant']">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/share-auto-tenant']">BUSCAR AUTOS</a>
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']">MANTENIMIENTO</a>
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']">ALQUILER</a>
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']">SOLICITUDES</a>
        <a mat-button  [routerLink]="['/perfil-tenant']"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a  (click)="sidenav.toggle()"><mat-icon>home</mat-icon></a>
      </div>
      <router-outlet></router-outlet>
    </mat-toolbar>

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button > <b style="color: #2F9568;font-size: 20px">Close</b></a>
        <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/share-tenant']">BUSCAR AUTOS</a>
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']">MANTENIMIENTO</a>
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']">ALQUILER</a>
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']">SOLICITUDES</a>
        <a class="buttonnav" mat-button [routerLink]="['/perfil-tenant']">PERFIL</a>
      </div>
    </mat-sidenav>

    <mat-card fxFlex="100%" style="min-height: 15vh; display: grid; grid-template-areas:
  'label p'
  'button button';">

      <mat-label style="grid-area: label; font-size: 20px; color: #2F9568; font-family: 'Poppins', sans-serif; margin: 20px;"><b>ALQUILER</b></mat-label>

      <p style="grid-area: button; text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Autos alquilados actualmente</p>

    </mat-card>

    <mat-card fxFlex="100%">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <mat-card fxFlex="calc(33.33% - 10px)" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0HbJoi3q8SuPYSM9VcLUpLFMKGMh4bjTTNw" alt="Imagen" style="margin: 20px; max-width: 100%; max-height: 100%;"/>

          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Marca/Modelo: Toyota/Prius</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Propietario: Juan Pérez</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Celular: +123456789</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de inicio de contrato: 01/01/2023</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de fin de contrato: 01/02/2023</p>
          <mat-label style="font-size: 20px; color: #2F9568; font-family: 'Poppins', sans-serif; margin: 20px;">Solicitud aceptada</mat-label>

          <button mat-raised-button style="margin: 20px; background-color: #14131B; color: white; font-family: 'Poppins', sans-serif;" [routerLink]="['/pay-car-rental']">PAGAR</button>
        </mat-card>

        <mat-card fxFlex="calc(33.33% - 10px)" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
          <img src="https://automundo.pe/wp-content/uploads/2022/05/369756-el-nuevo-honda-civic-e-hev-llegar-a-espa-a-en-octubre-de-2022-e1653584216717.jpg" alt="Imagen" style="margin: 20px; max-width: 100%; max-height: 100%;"/>

          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Marca/Modelo: Honda/Civic</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Propietario: María López</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Celular: +987654321</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de inicio de contrato: 05/02/2023</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de fin de contrato: 05/03/2023</p>
          <mat-label style="font-size: 20px; color: #2F9568; font-family: 'Poppins', sans-serif; margin: 20px;">Solicitud aceptada</mat-label>

          <button mat-raised-button style="margin: 20px; background-color: #14131B; color: white; font-family: 'Poppins', sans-serif;" [routerLink]="['/pay-car-rental']">PAGAR</button>
        </mat-card>

        <mat-card fxFlex="calc(33.33% - 10px)" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
          <img src="https://www.autobild.es/sites/autobild.es/public/styles/main_element/public/dc/fotos/Ford_Fiesta_2022_02.jpg?itok=7w8cVeBq" alt="Imagen" style="margin: 20px; max-width: 100%; max-height: 100%;"/>

          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Marca/Modelo: Ford/Fiesta</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Propietario: Carlos Rodríguez</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Celular: +555555555</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de inicio de contrato: 10/03/2023</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de fin de contrato: 10/04/2023</p>
          <mat-label style="font-size: 20px; color: #2F9568; font-family: 'Poppins', sans-serif; margin: 20px;">Solicitud aceptada</mat-label>

          <button mat-raised-button style="margin: 20px; background-color: #14131B; color: white; font-family: 'Poppins', sans-serif;" [routerLink]="['/pay-car-rental']">PAGAR</button>
        </mat-card>

        <mat-card fxFlex="calc(33.33% - 10px)" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
          <img src="https://www.cars.com/i/large/in/v2/stock_photos/29aa41a1-8e67-4a7d-8424-10ae2f521512/a123e269-96be-4f60-9b80-26ee9011b090.png" alt="Imagen" style="margin: 20px; max-width: 100%; max-height: 100%;"/>

          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Marca/Modelo: Nissan/Altima</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Propietario: Ana Martínez</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Celular: +111111111</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de inicio de contrato: 15/04/2023</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de fin de contrato: 15/05/2023</p>
          <mat-label style="font-size: 20px; color: #2F9568; font-family: 'Poppins', sans-serif; margin: 20px;">Solicitud aceptada</mat-label>

          <button mat-raised-button style="margin: 20px; background-color: #14131B; color: white; font-family: 'Poppins', sans-serif;" [routerLink]="['/pay-car-rental']">PAGAR</button>
        </mat-card>

        <mat-card fxFlex="calc(33.33% - 10px)" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
          <button mat-raised-button style="margin: 20px; background-color: #14131B; color: white; font-family: 'Poppins', sans-serif;" [routerLink]="['/share-auto-tenant']">Alquilar un nuevo auto</button>
        </mat-card>
      </div>
    </mat-card>


  </mat-sidenav-container>



</div>



