

<!--<mat-toolbar class="toolbarr">-->

<!--&lt;!&ndash;  <img src="https://i.postimg.cc/vmZh3LGv/logotransparent-26-06.png" width="100px">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="mat-spacer"></div>&ndash;&gt;-->

<!--  <a mat-button *ngFor="let option of options"-->
<!--     [routerLink]="option.path" class="buttonnav">{{option.title}}</a>-->
<!--</mat-toolbar>-->
<!--<router-outlet></router-outlet>-->

<div style="height: 100vh;">

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-toolbar class="toolbarr">
      <img src="https://i.postimg.cc/ryZ4LR7s/logo-removebg-preview.png" width="200px">
      <div class="mat-spacer"></div>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a  class="buttonnav" mat-button [routerLink]="['/main-page-tenant']">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/share-auto-tenant']">BUSCAR AUTOS</a>
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']">MANTENIMIENTO</a>
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']">ALQUILER</a>
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']">SOLICITUDES</a>
        <a mat-button  [routerLink]="['/perfil-tenant']"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a  (click)="sidenav.toggle()"><mat-icon>home</mat-icon></a>
      </div>
      <router-outlet></router-outlet>
    </mat-toolbar>



    <mat-card class="contenedor-principal" >
      <mat-card-content class="contenedor">

          <br><br>
          <mat-label  class="letter1"><b>Alquila autos</b></mat-label>
          <br><br>
          <mat-label  class="letter2"><b>cercanos facilmente</b></mat-label>
          <br><br>
          <mat-label style="text-align: left">Ubicación</mat-label>
          <mat-form-field >
            <input matInput [(ngModel)]="country" type="text" placeholder="Ubicación" class="input" >
          </mat-form-field> <button mat-button style="background-color: #14131B;color: white"> BUSCAR UN AUTO</button>

      </mat-card-content>
    </mat-card>

    <mat-card style="border-radius: 0">
      <mat-card-content class="contenedor2">

        <br><br>
        <mat-label  style="font-size: 25px;text-align: center;color: #14131B"><b>El auto perfecto para ti esta más cerca que nunca</b></mat-label>
        <br><br>
        <mat-label  style="font-size: 25px;text-align: center;color: #2F9568"><b>Marcas de autos disponibles</b></mat-label>
        <br><br>

        <mat-card>
              <mat-card-content style="text-align: center;box-shadow:transparent;border-radius: 0">

                <a href="/page-not-found"><img src="https://i.postimg.cc/63LBcjtc/RT-V-e45f4ad2949c4f70b4e021cf91e716e3.jpg" class="imagen1"></a>
                <a href="/page-not-found"><img src="https://i.postimg.cc/Xqj4zfvb/RT-V-0c7166c16ff74073b65851f7f0b360ed.jpg" class="imagen1"></a>
                <a href="/page-not-found"> <img src="https://i.postimg.cc/bw31JhM0/plateado-metalico-377a03d3.png" style="max-width: 210px;margin-left: 15px;margin-top: 20px"></a>
              </mat-card-content>
        </mat-card>
        <br><br>
<!--        <mat-label  style="font-size: 50px;text-align: center;color:#14131B "><b>PUBLICIDAD</b></mat-label><br><br>-->
      </mat-card-content>
    </mat-card>

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button > <b style="color: #2F9568;font-size: 20px">Close</b></a>
        <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/share-tenant']">BUSCAR AUTOS</a>
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']">MANTENIMIENTO</a>
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']">ALQUILER</a>
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']">SOLICITUDES</a>
        <a class="buttonnav" mat-button [routerLink]="['/perfil-tenant']">PERFIL</a>
      </div>

    </mat-sidenav>
  </mat-sidenav-container>



</div>



