<div style="height: 100vh">
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-toolbar class="toolbarr">
      <img
        src="https://i.postimg.cc/ryZ4LR7s/logo-removebg-preview.png"
        width="200px"
      />
      <div class="mat-spacer"></div>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']"
          >INICIO</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/share-auto-tenant']"
          >BUSCAR AUTOS</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']"
          >MANTENIMIENTO</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']"
          >ALQUILER</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']"
          >SOLICITUDES</a
        >
        <a mat-button [routerLink]="['/perfil-tenant']"
          ><img
            src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png"
            style="width: 3em"
        /></a>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a (click)="sidenav.toggle()"><mat-icon>home</mat-icon></a>
      </div>
      <router-outlet></router-outlet>
    </mat-toolbar>

      <div style="display: flex; align-items: center; justify-content: center">
        <mat-form-field class="input">
          <input
            matInput
            placeholder="Escribe aquí..."
            [(ngModel)]="searchBrand"
            (keyup)="applyFilter()"
          />
        </mat-form-field>
      </div>
      <div class="car-container">
    <!-- Tarjetas de autos -->
    <mat-card *ngFor="let car of filteredCars" class="car-card">
      <img [src]="car.photo" alt="Imagen" />

      <!-- Otras propiedades del auto -->
      <p>Marca: {{ car.brand }}</p>
      <p>Modelo: {{car.model}}</p>
      <!--<p>Propietario: {{ car.owner }}</p>-->
      <p>Velocidad máxima: {{ car.maxspeed }}</p>
      <p>Consumo de combustible: {{ car.fuelconsumption }}</p>
      <p>Dimensiones: {{ car.dimension }}</p>
      <p>Peso: {{ car.weight }}</p>
      <p>Año: {{ car.year }}</p>
      <p>Transmisión: {{ car.engine }}</p>
      <p>Tiempo de alquiler: {{ car.timeloan }}</p>
      <p>Precio: {{car.price}}</p>
      <button mat-button color="primary" (click)="rentCar(car)">Rent</button>
      <!-- ... -->
    </mat-card>
  </div>
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button>
          <b style="color: #2f9568; font-size: 20px">Close</b></a
        >
        <a class="buttonnav" mat-button [routerLink]="['/main-page-tenant']"
          >INICIO</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/share-tenant']"
          >BUSCAR AUTOS</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/maintenance-tenant']"
          >MANTENIMIENTO</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/rent-tenant']"
          >ALQUILER</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/requests-tenant']"
          >SOLICITUDES</a
        >
        <a class="buttonnav" mat-button [routerLink]="['/perfil-tenant']"
          >PERFIL</a
        >
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
